<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tareas.pendientes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TareasPendientes">

        <!-- LoginActivity con android:exported="true" -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".view.RegistroActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".view.TareasActivity" android:exported="false"/>
        <activity android:name=".view.ConfiguracionActivity" android:exported="false"/>
        <activity android:name=".view.CrearTareaActivity" android:exported="false"/>
        <activity android:name=".view.EditarTareaActivity" android:exported="false"/>
        <activity android:name=".view.AcercaDeActivity" android:exported="false"/>
        <activity android:name=".view.DetalleTareaActivity" android:exported="false"/>
        <activity android:name=".view.EditarUsuarioActivity" android:exported="false"/>

    </application>
</manifest>
