<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos de lectura y escritura para medios (imágenes y videos) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />

    <!-- Permiso de la cámara -->
    <!--
     <uses-permission android:name="android.permission.CAMERA" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestorDeTareas"
        tools:targetApi="31">

        <!-- LoginActivity: Ahora es la pantalla inicial -->
        <activity
            android:name=".vista.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades dentro del paquete vista -->
        <activity android:name=".vista.AgregarTareaActivity" android:exported="true" />
        <activity android:name=".vista.AjustesActivity" android:exported="true" />
        <activity android:name=".vista.DashboardActivity" android:exported="true" />
        <activity android:name=".vista.ListaTareasActivity" android:exported="true" />
        <activity android:name=".vista.DetalleTareaActivity" android:exported="true"/>
        <activity android:name=".vista.RegistroActivity" android:exported="true" />

    </application>
</manifest>
